extends layout

block content

  -
    var RULE_BASE_URL = 'https://manage.auth0.com/#/rules/';
    var CLIENT_BASE_URL = 'https://manage.auth0.com/#/applications/';
    var CLIENT_POSTFIX = '/settings';
  h1 Auth0 Clients and Rules
  div
    ul
      each client in categorizedObj.clients
        -
          var rulesForClient = categorizedObj.categorized.filter(
            function(ruleObj) {
              return ruleObj.clients.some(function(clientObj) {
                return clientObj.clientID === client.client_id;
              })
            }).sort(function(rule1, rule2) {
              return parseInt(rule1.order, 10) - parseInt(rule2.order, 10);
            });
        a(href=CLIENT_BASE_URL + client.client_id + CLIENT_POSTFIX)
          li(name=client.client_id)
            = client.name
          ol
            each rule in rulesForClient
              a(
	        href=RULE_BASE_URL + rule.ruleID,
		class=rule.ruleEnabled ? '' : 'disabled',
		title=rule.ruleEnabled ? '' : 'Disabled rule'
	      )
                li
                  = rule.ruleName
        br